body {
    padding-top: 70px;
}

.logo {
    background-image: url('https://res.cloudinary.com/YOUR_CLOUD_NAME/raw/upload/v1722365341/static/favicon/$T-favicon.webp');
    background-size: cover;
    background-position: center;
    height: 40px; 
    width: 40px;
    display: inline-block;
    margin-right: 10px;
}

.navbar-br {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-shadow {
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}

.highlight-text {
    color: red;
    text-shadow: 2px 2px 5px black;
}

.favsize {
    font-size: 2rem;    
}

/* Navbar styles */
.navbar {
    background-color: #ffffff;
}

.footer-bk-color {
    background-color: rgb(179, 3, 3);
}

.fab {
    color: #ffffff;
}

.bg-connection {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365342/static/images/connection.webp');
    background-size: cover;
    background-position: center;
    height: 300px; 
    border-radius: 15px 70px 30px;
}

.bg-showcase {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365344/static/images/showcase.webp');
    background-size: cover;
    background-position: center;
    height: 300px; 
    border-radius: 70px 15px 50px 15px;
}

.bg-search {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365344/static/images/search.webp');
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 15px 70px 30px;
}

.bg-interface {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365345/static/images/interface.webp');
    background-size: cover;
    background-position: center;
    height: 300px; 
    border-radius: 70px 15px 50px 15px;
}

/* Additional styling for rounded corners and image display */
.margin-card {
    margin: 20px 0;
}

.bg-light {
    background-color: #f8f9fa;
}

p {
    font-size: 16px;
    color: #000000;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #000000;
}

