body {
    padding-top: 70px;
}

.logo {
    background-image: url('https://res.cloudinary.com/YOUR_CLOUD_NAME/raw/upload/v1722365341/static/favicon/$T-favicon.webp');
    background-size: cover;
    background-position: center;
    height: 40px; 
    width: 40px;
    display: inline-block;
    margin-right: 10px;
}

.navbar-br {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-shadow {
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}

.hero {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/image/upload/static/images/hero.e72bfcb01309.webp');
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 190vh;
    width: 100vw;
}

.wellcome-container {
    padding-top: 10px;
    margin: 10px;
}

.btn-black {
    background-color: black;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.btn-black:hover {
    background-color: red;
    color: white;
}

.highlight-text {
    color: red;
    text-shadow: 2px 2px 5px black;
}

/* Grid container for cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #000000;
}

p {
    font-size: 16px;
    color: #000000;
}

/* Enhanced card styles */
.card {
    border: 1px solid #e0e0e0; /* Lighter border */
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Softer shadow */
    padding: 15px; /* Added padding */
    transition: box-shadow 0.3s ease;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}

.img-container {
    width: 100%;
    position: relative;
    padding-top: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Card body styles */
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

/* Card title and text styles */
.card-title,
.card-text {
    margin-bottom: 10px;
}

/* Card description styles */
.card-description {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
}

/* Card info styles */
.card-info {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* Card actions styles */
.card-actions {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

/* Section container styles */
.section-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-container img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25); /* Enhanced hover effect */
}


.favsize {
    font-size: 2rem;    
}

/* Navbar styles */
.navbar {
    background-color: #ffffff;
}

.footer-bk-color {
    background-color: rgb(179, 3, 3);
}

.fab {
    color: #ffffff;
}

.bg-connection {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365342/static/images/connection.webp');
    background-size: cover;
    background-position: center;
    height: 300px; 
    border-radius: 15px 70px 30px;
}

.bg-showcase {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365344/static/images/showcase.webp');
    background-size: cover;
    background-position: center;
    height: 300px; 
    border-radius: 70px 15px 50px 15px;
}

.bg-search {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365344/static/images/search.webp');
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 15px 70px 30px;
}

.bg-interface {
    background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365345/static/images/interface.webp');
    background-size: cover;
    background-position: center;
    height: 300px; 
    border-radius: 70px 15px 50px 15px;
}

/* Form field alignment styles */
form.highlight-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form.highlight-box .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form.highlight-box .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

form.highlight-box .form-group input,
form.highlight-box .form-group textarea,
form.highlight-box .form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}


/* Additional styling for rounded corners and image display */
.margin-card {
    margin: 20px 0;
}

.bg-light {
    background-color: #f8f9fa;
}

/* Media query for 375px width screens */
@media (min-width: 375px) and (orientation: portrait) {
    .hero {
        height: 140vh;
    }
}

/* Media query for 550px width screens */
@media (min-width: 550px) and (orientation: portrait) {
    .hero {
        height: 140vh;
    }

    .wellcome-container {
        width: 400px;
        margin-left: 100px;
    }
}

/* Media query for 810px width portrait screens */
@media (min-width: 810px) and (orientation: portrait) {
    .hero {
        height: 110vh;
    }

    .wellcome-container {
        width: 400px;
        margin-left: 100px;
    }
}

/* Media query for 1080px width portrait screens */
@media (min-width: 1080px) and (orientation: portrait) {
    .hero {
        height: 80vh;
    }

    .wellcome-container {
        width: 400px;
        margin-left: 100px;
    }
}

/* Media query for 550px width landscape screens */
@media (min-width: 550px) and (orientation: landscape) {
    .hero {
        height: 280vh;
    }

    .wellcome-container {
        width: 400px;
        margin-left: 100px;
    }
}

/* Media query for 810px width landscape screens */
@media (min-width: 810px) and (orientation: landscape) {
    .hero {
        height: 230vh;
    }

    .wellcome-container {
        width: 400px;
        margin-left: 100px;
    }
}

/* Media query for 1080px width landscape screens */
@media (min-width: 1080px) and (orientation: landscape) {
    .hero {
        background-image: url('https://res.cloudinary.com/dxawpgmpj/raw/upload/v1722365345/static/images/hero.webp');
        height: 120vh;
    }

    .wellcome-container {
        width: 600px;
        margin: 10px 0px 0px 150px;
    }
}
